/*TOP HEADER*/

.main--header {
    width: 95%;
    @extend %center;
}

    .main-header-infor{
        background-color: transparent;
    }

//CONTACT-ICONS

        .icon-skype,
        .icon-mobile2,
        .icon-calendar{
            font-size: $font-h4;
            color : $color-link;
            padding: .2em;
        }


//MEDIA QUERIES

@media all and (min-width: 600px){

        .icon-skype,
        .icon-mobile2,
        .icon-calendar{
            padding: 0 1em;
        }

}


//CONTACT-DATES

.contact-dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .25em;
    margin-top: .25em;
    border-bottom: solid 5px $color-complementary;
}
    .dates{
        background-color: $color-complementary;
        line-height: 1.5em;
        padding: 5px 0;
    }


//Media-Queries

@media all and (min-width: 600px){
    .contact-dates{
        flex-direction: row;
        justify-content: space-around;
        }

}


