/*TOP HEADER*/

.main--header {
    width: 95%;
    @extend %center;
}

    .main-header-infor{
        background-color: transparent;
    }

//CONTACT-DATES

.contact-dates{
    display: flex;
    flex-direction: column;
    margin: .1em 0;
    @extend %text-center;
    background-color: $color-complementary;
}
    .dates{
        background-color: $color-complementary;
        color: $color-headers;
        line-height: 1.5em;
        padding: 5px 0;
    }

@media all and (min-width: 600px){
        .contact-dates{
            flex-direction: row;
            justify-content: space-around;

        }
}



