/*TOP HEADER*/

.main--header {
    width: 95%;
    @extend %center;
}

    .main-header-infor{
        background-color: transparent;
    }

//CONTACT-DATES

.contact-dates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-secundary;
    margin-bottom: 2em;
}
    .dates{
        background-color: $color-complementary;
        line-height: 1.5em;
        padding: 5px 0;
    }





