 /*LAYOUT-SECTION*/



 //MEDIA QUERIES MAIN-SECTION
 @media all and (min-width: 768px){

    .wrapper--main--section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .insection--main--one,
    .insection--main--two{
        width: 50%;
        margin-right: 10px;
        background-color: $color-complementary;
    }


}
