 /*LAYOUT-SECTION*/
.wrapper--main--section{
        width: 100%;
        @extend %center;
        margin-bottom: 1em;
        margin-top: 2em;

    }

.insection--main--one{
    margin-bottom : .5em;

}


 //MEDIA QUERIES MAIN-SECTION
 @media all and (min-width: 768px){

    .insection--main--one{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: $color-secundary;
    }

        .section--list{
            width: 50%;

        }

        .section--sublist--item{
            width: 50%;
            background-color: $color-secundary;
            margin-top: 0;
        }

}
