 /*LAYOUT-SECTION*/
.wrapper--main--section{
        width: 100%;
        @extend %center;
        margin-bottom: 1em;
        margin-top: 2em;

    }

.insection--main--one{
    margin: 0;

}


 //MEDIA QUERIES MAIN-SECTION
 @media all and (min-width: 1024px){

    .insection--main--one{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 1em;
        margin-bottom: .5em;
    }


}
