
/*BOX MODEL*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*MAIN STYLES*/

body {
   padding: 0;
   margin: 0;
   background-color: $main-color;
   max-width: $max-width;
   margin-left: auto;
   margin-right: auto;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: $black;
}

section {
    width: 100%;
    background-color: $secundary-color;
}

article {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

small{
    text-decoration: underline;
    color: $black;
    display: inline-block;
    font-size: $font-small/1.5;
}

input[type='button'] {
    font-weight: bold;
}

