
/*BOX MODEL*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*MAIN STYLES*/

body {
   background-color: $color-secundary;
   @include max-width($max-width);
   @extend %center;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: $color-link;
}

li{
  list-style-type: none;
}

article{
    width: 100%;
    padding: 1em;
    @extend %center;
}

//Microformats

.microformats{
  width: 100%;
  font-size: $font-h6;
  font-family: $font-main;
  text-align: center;
  background-color: $color-main;
  margin-top: 1em;
}


