/*BARS-SKILLS*/

.bars--list--items {
    background-color: $color-secundary;
    margin-left: 0;
    width: 100%;
}

.bars--title {
    margin: .25em 0;
    width: 100%;

    }

    .bars--sublist--items{
        margin-left: .25em;
        margin-right: .5em;
        margin-top: .35em;
    }

        .bar--sublist--item{
            display: table;
            width: 100%;

        }

        .bar--sublist--title--item{
                display: table-cell;
                width: 50px;
                font-size: $font-h6;
                background-color: $color-link;
                color: $color-secundary;
                padding-left : $gutterwidth;

                &::before{
                    font-family: "icomoon";
                    content : "\ea10";
                    padding-right : .25em;
                }
        }

            //Porcentaje-background

            .count {
                width: 10%;
                background-color: $color-headers;
                display: table-cell;
            }

            .count0 {
                width: 20%;
                background-color: $color-headers;
                display: table-cell;
            }

            .count1 {
                width: 30%;
                background-color: $color-headers;
                display: table-cell;
            }

            .count2 {
                width: 40%;
                background-color: $color-headers;
                display: table-cell;
            }

            .count3 {
                width: 50%;
                background-color: $color-headers;
                display: table-cell;
            }

            .count4 {
                width: 60%;
                background-color: $color-headers;
                display: table-cell;
            }

            //Porcentajes

            .count::after {
                content: "90%";
                }

            .count0:after {
                content: "80%";
                }

                .count1:after {
                content: "70%";
                }

                .count2:after {
                content: "60%";
                }

            .count3:after {
                content: "50%";
            }

            .count4:after {
                content: "40%";
            }

            .count:after,
            .count0:after,
            .count1:after,
            .count2:after,
            .count3:after,
            .count4:after {
                font-size: $font-h6;
                float: right;
                margin-right: .2em;
                margin-top: .2em;
                font-weight: bold;
                color: $color-secundary;
            }
