/*BUTTOMS*/

.btn--list{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 0;

}

    .btn--list--item{
        font-size: $font-h5;
        font-family: $font-secundary;
        background-color: $color-complementary;
        @include vendors (border-radius, 40px);
        border : solid 2px $color-link;
        padding: .75em;
        margin: .25em 0;

    }

//MEDIA QUERIES

@media all and (min-width: 768px){
    .btn--list--item{
        font-size: $font-h5*1.1;
    }

}

@media all and (min-width: 1024px){
    .btn--list--item{
        font-size: $font-h4;
    }

}