/*ICONS*/
//BTN-GO-BACK

.icon-home{
    position: fixed;
    top: .2em;
    left: .2em;
    width: 75px;
    text-align: center;
    background-color: $color-complementary;
    color: $color-link;
    font-size: $font-h2;
}


//WITGETS

.witgets-items{
    background-color:$color-secundary;
    text-align: center;
    margin-top: .5em;
    padding-top: .5em;
}

    .witgets-list-item{
        font-size: $font-h4;

    }

//MEDIA QUERIES

@media all and (min-width: 600px){
    .witgets-items{
        display: block;
    }
    .witgets-list-item{
        font-size: $font-h3;
    }

}

//CALL TO ACTTION ICONS

.call-to-action--icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-secundary;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}

    .call-to-action{
        padding: .25em;
        font-weight: bold;
        color: $color-main;
        border-radius: 20px;
        cursor: pointer;
    }

    .icon-files-empty,
    .icon-phone,
    .icon-bubbles {
        font-size: $font-h1;
        color: $color-link;
        cursor: pointer;
    }

    .icon-bubbles{
        display: none;
    }


//MEDIA QUERIES

@media all and (min-width: 600px){
    .icon-files-empty{
        display: flex;
    }
}

@media all and (min-width: 768px){
    .call-to-action--icons{
        justify-content: space-around;
    }
    .icon-phone{
      display: none;
    }

    .icon-bubbles{
        display: flex;
        float: left;
    }

}


//FOLLOW BUTTONS

.follow--buttoms{
    margin-top: 2em;
}

    .follow--buttoms--icons{
        background-color: $color-complementary;
        margin-top: 1.5em;
    }

        .icon-bubble,
        .icon-like,
        .icon-share2{
            padding: .5em;
            margin: 0 .25em;
            background-color: $color-link;
            font-size: $font-h3;
            color: $color-secundary;
            border: solid 4px $color-complementary;
            @include vendors(border-radius, 50px);
        }

//MEDIA-QUERIES

 @media all and (min-width: 600px){
    .follow--buttoms--icons{
        background-color: transparent;
        border-top : solid 1px $blue;
        margin-top: 0;
        padding-top: 1em;
    }

        .icon-bubble,
        .icon-like,
        .icon-share2{
            background-color: $color-secundary;
            color: $color-link;
        }
}

//EXTRA ICONS

.extra--icons{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 3em;
    padding: .25em 0;
    background-color: $color-secundary;
}

    .icon-clock,
    .icon-location{
        display: table-cell;
        font-size: $font-h3;
        padding: 0 .25em;
        color: $color-link;
    }


 @media all and (min-width: 600px){
    .extra--icons{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: flex-start;
    }

}