/*ICONS*/
//BTN-GO-BACK

.icon-home{
    position: fixed;
    top: .2em;
    left: .2em;
    width: 75px;
    text-align: center;
    background-color: $color-complementary;
    color: $color-link;
    font-size: $font-h2;
}


//WITGETS

.witgets-items{
    background-color:$color-secundary;
    text-align: center;
    margin-top: .5em;
    padding-top: .5em;
}

    .witgets-list-item{
        font-size: $font-h4;

    }

//MEDIA QUERIES

@media all and (min-width: 600px){
    .witgets-items{
        display: block;
    }
    .witgets-list-item{
        font-size: $font-h3;
    }

}

//CALL TO ACTTION ICONS

.call-to-action--icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: $color-secundary;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}

    .call-to-action{
        padding: .25em;
        font-weight: bold;
        color: $color-main;
        border-radius: 20px;
        cursor: pointer;
    }

    .icon-phone,
    .icon-bubbles {
        font-size: $font-h1;
        color: $color-link;
        cursor: pointer;
    }

    .icon-bubbles{
        display: none;
    }


//MEDIA QUERIES


@media all and (min-width: 768px){
    .call-to-action--icons{
        justify-content: center;
    }
    .icon-phone{
      display: none;
    }

    .icon-bubbles{
        display: flex;
    }


}


//FOLLOW BUTTONS
.follow--buttoms{
    display: flex;
    flex-direction: column;
    width: 100%;

}

        .follow--buttoms--icons{
            display: block;
            width: 100%;
            text-align: center;
            background-color: $color-secundary;
            padding: .5em 0;
            margin-top: .5em;
        }


        .icon-bubble,
        .icon-like,
        .icon-share2{
            padding: .5em;
            margin: 0 .25em;
            background-color: $color-headers;
            font-size: $font-h4;
            color: $black;
            border: solid 4px $color-complementary;
            @include vendors(border-radius, 50px);
        }



@media all and (min-width: 768px){

    .follow--buttoms{
        justify-content: space-between;
        flex-direction: row;
    }


        .follow--buttoms--icons{
            display: flex;
            justify-content: flex-end;
            order: 2;
            width: 40%;
            background-color: $color-secundary;
            margin: 0;
            padding: 0;
        }


            .icon-bubble,
            .icon-like,
            .icon-share2{
                background-color: transparent;
                font-size: $font-h3;

            }


}


//EXTRA ICONS

.extra--icons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2em;
    padding: 1em 0;
    background-color: $color-complementary;

}

    .icon-clock,
    .icon-location{
        font-size: $font-h3;
        padding: 0 .25em;
        color: $color-link;
    }


 @media all and (min-width: 768px){
    .extra--icons{
        order: 1;
        width: 60%;
        margin-bottom: 0;
        padding: 1.25em 0;
        background-color: $color-secundary;
        border-top: solid 5px $color-complementary;
        border-bottom: solid 5px $color-complementary;
    }

}