/*LISTS-ITEMS*/

    .section--list{
        background-color: $color-secundary;
        text-align: left;
        width: 100%;
        margin-top: 1em;
    }

        .section--list--item{
            font-family: $font-main;
            font-size: $font-h3;
            background-color: $color-secundary;
            margin: .25em .5em;
            padding: .5em;
            border-bottom: solid 4px $color-link;
            @include vendors (border-radius, 30%);
            text-align: center;
            font-weight: bold;

        }

//MEDIA-QUERIES

 @media all and (min-width: 768px){
    .section--list{
            margin-top: 0;

        }

        .section--list--item{
            font-size: $font-h2;
            text-align: center;
            border-top: dashed 4px $color-main;
            padding: 1em 0;
        }
}

 @media all and (min-width: 1024px){

     .section--list{
            width: 40%;
        }

     .section--list--item{
            font-size: $font-h3;
    }

}




/*SUBLIST-ITEM*/

    .section--sublist--item{
        background-color: $color-complementary;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 2.5em;
        padding: 2.5em;
        @include vendors (border-radius, 30%);
    }

        .section--sublist--items{
            padding: .5em 0;
            font-size: $font-h5;
            font-family: $font-default;
            margin-left: 0;
            padding-left : .5em;
            text-align: center;

        }

            .section--sublist--items a{
                color : $color-link;
                text-decoration: underline;
            }

//MEDIA-QUERIES

@media all and (min-width: 768px){
    .section--sublist--item{

    }

}

@media all and (min-width: 1024px){

    .section--sublist--item{
        width: 50%;
    }

}

/*LISTS-FOOTER-LINKS*/

    .section--list--footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap : wrap;
        margin-top: .5em;
        margin-bottom: .5em;
        background-color: $blue;
    }

        .section--list--footer--item{
            font-size: $font-h6;
            font-family: $font-main;
            background-color: $color-secundary;
            padding: .5em;
            margin-right: .2em;

        }

            .section--list--footer-item a{
                color: $color-link;
                background-color: $color-secundary;
                padding: .25em;
            }


/*FOOTER-SECTION-LINKS*/

.footer--section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-secundary;
    margin-top: .1em;
    padding: .75em 0;

}

    .footer--section--item__a,
    .footer--section--item__b{
        font-size: $font-h4;
        text-transform: uppercase;
        font-family: $font-main;
        padding: .5em 0;
        margin: .25em;
    }

        .footer--section--item__a a{
            background-color: $blue;
            color: $color-secundary;
            border: solid 5px $color-complementary;
            @include vendors(border-radius, 50px);
            padding: .5em;

                 &::before{
                    font-family: 'icomoon';
                    content: "\eab7";
                    margin-right: .25em;
                    padding: .25em;
                    color: $black;
                }
        }

        .footer--section--item__b a{
            background-color: $blue;
            color: $color-secundary;
            border: solid 5px $color-complementary;
            @include vendors(border-radius, 50px);
            padding: .5em;

                 &::before{
                    font-family: 'icomoon';
                    content: "\e90e";
                    padding: .25em;
                    margin-right: .25em;
                    color: $black;
                }
        }

//MSDIA-QUERIES

 @media all and (min-width: 768px){
    .footer--section--item__a,
    .footer--section--item__b{
        font-size: $font-h5*1.2;
    }

}

    @media all and (min-width: 1024px){
        .footer--section--item__a,
        .footer--section--item__b{
            font-size: $font-h4;
        }

}