/*LISTS-ITEMS*/

    .section--list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: $color-secundary;
        width: 100%;
        text-align: center;
    }

        .section--list--item{
            width: 50%;
            font-family: $font-main;
            font-size: $font-h4;
            background-color: $color-secundary;
            padding: .5em;
            border-bottom: double 8px aqua;
            border-top: double 8px aqua;
            @include vendors (border-radius, 30%);
            font-weight: bold;

        }

//MEDIA-QUERIES

 @media all and (min-width: 768px){

        .section--list--item{
            font-size: $font-h4*1.3;
        }
}

 @media all and (min-width: 1024px){

        .section--list--item{
            font-size: $font-h2;
            text-align: center;
            padding: 1em 0;
        }
}






/*SUBLIST-ITEM*/

    .section--sublist--item{
        background-color: $color-secundary;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 2.5em;
        padding: 2.5em;
        border: solid 1px $color-headers;
        @include vendors (border-radius, 30%);
    }

        .section--sublist--items{
            padding: .5em 0;
            font-size: $font-h5;
            font-family: $font-main;
            margin-left: 0;
            padding-left : .5em;
            text-align: center;
            text-decoration: underline;
            color : $color-headers;

        }

            .section--sublist--items a{

                text-decoration: underline;
            }

//MEDIA-QUERIES

@media all and (min-width: 600px){
    .section--sublist--items{
        font-size: $font-h4;
    }

}

@media all and (min-width: 768px){

    .section--sublist--items{
        font-size: $font-h3;
    }

}

@media all and (min-width: 1024px){

    .section--sublist--item{
        width: 50%;
    }

    .section--sublist--items{
        font-size: $font-h2;
    }


}

/*LISTS-FOOTER-LINKS*/

    .section--list--footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap : wrap;
        margin-top: .5em;
        margin-bottom: .5em;
    }

        .section--list--footer--item{
            font-size: $font-h5;
            font-family: $font-main;
            padding: .5em;
            margin-right: .2em;
            border-radius: 20px;

        }

            .section--list--footer-item a{
                padding: .25em;
            }

//MEDIA-QUERIES

 @media all and (min-width: 600px){
    .section--list--footer--item{
            font-size: $font-h4;
    }

}



/*FOOTER-SECTION-LINKS*/

.footer--section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-secundary;
    margin-top: .1em;
    padding: .75em 0;

}

    .footer--section--item {
        font-size: $font-h5;
        font-family: $font-secundary;
        padding: .5em 0;
        margin: .25em;
    }

        .footer--section--item a{
            background-color: $color-headers;
            color: $black;
            border: solid 3px $color-secundary;
            @include vendors(border-radius, 50px);
            padding: .5em;
            text-decoration: underline;

        }



//MEDIA-QUERIES

 @media all and (min-width: 768px){
    .footer--section{
        margin-bottom: 1em;
        margin-top: 1em;
    }
        .footer--section--item {
            font-size: $font-h5*1.2;
        }

            .footer--section--item a{
                background-color: $color-secundary;
                color: $color-headers;
            }

}

    @media all and (min-width: 1024px){
        .footer--section--item {
            font-size: $font-h4;
        }

}