/*SLIDES*/

//OFF-CANVAS

.off-canvas-chat {
  background-color: $color-main;
  position:absolute;
  top: 430px;
  left: 0;
  height: 100%;
  width: 100%;
  color: $color-link;

  transition: transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);

  z-index: 1;
}

.off-canvas-contact {
  background-color: $color-main;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  color: $color-link;

  transition: transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
  transform: translate(-100%,0);
  -webkit-transform: translate(-100%,0);

}

//MEDIA QUERIES

@media all and (min-width: 600px){
    .off-canvas-chat,
    .off-canvas-contact{
        top:30em;
        height: 400px;
    }
}

//CREATE CLASS

.off-canvas-chat.open-chat-panel {
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
}

.off-canvas-contact.open-contact-panel {
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
}

//OFF-CANVAS-PANELS

.off-canvas-chat-item{
    display: flex;
    flex-direction: column;
    margin-top: .25em;
}

    .off-canvas-chat-items{
        position: absolute;
        bottom: 1em;
        left: 15%;
        list-style-type: none;
        font-size: 2em;
        cursor: pointer;
        margin-top: .5em;
        margin-left: 3em;
    }

.off-canvas-contact-item{
    display: flex;
    flex-direction: column;
    margin-top: .25em;
    }

    .off-canvas-contact-items{
        position: absolute;
        top:0;
        right: 0;
        list-style-type: none;
        font-size: 2em;
        cursor: pointer;
        margin-top: .5em;
        margin-right: .5em;

        }

//COOKIES

.cookies{
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-secundary;
    text-align: center;
    display: none;

    z-index: 5;

    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.cookies.remove-cookies-panel{
      transition: transform .3s ease-out;
      -webkit-transition: -webkit-transform .3s ease-out;
      transform: translate(0,-120%);
      -webkit-transform: translate(0,-120%);
}

    .cookies-text{
        display: block;
        background-color: #fff;
        font-size: $font-h5;
        font-family: $font-main;
        padding: 0;
        color: #000;

    }

    .cookies-link{
        display: block;
        background-color: $color-headers;
        color: #ffffff;
        font-size: $font-h4;
        line-height: .1em;
        padding: 1em;
        cursor: pointer;

    }