/*SOCIAL BUTTONS*/

.social--buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color-secundary;
    max-width: $max-width;
    padding: 1em 0;
    margin: 1em 0;
}

    .icon-linkedin,
    .icon-twitter2,
    .icon-facebook2,
    .icon-google-plus3,
    .icon-instagram,
    .icon-pinterest {
        font-size: $font-h1;
        color: $color-headers;
        padding: 0 .1em;
    }

@media all and (min-width: 600px){
        .icon-linkedin,
        .icon-twitter2,
        .icon-facebook2,
        .icon-google-plus3,
        .icon-instagram,
        .icon-pinterest {
            font-size: $font-h1*1.2;
        }

}




