  /*TEXT*/

  .description--text{
        font-size: $font-h5;
        text-align: center;
        font-family: $font-main;
        margin-bottom: .5em;

    }

  .description--text__section{
        width: 100%;
        font-size: $font-h3;
        text-align: center;
        font-family: $font-main;
        border-top: solid 3px $color-complementary;
        border-bottom: solid 3px $color-complementary;
        margin-bottom: .5em;
    }


//MEDIA QUERIES

@media all and (min-width: 600px){
    .description--text{
        font-size: $font-h5;
    }


}

@media all and (min-width: 768px){
    .description--text{
        font-size: $font-h5*1.1;
    }


}



