  /*TEXT*/

  .description--text{
        font-size: $font-h6;
        text-align: center;
        font-family: $font-main;
        border-top: dotted 1px #000;
        border-bottom: dotted 1px #000;
        margin-bottom: .5em;

    }

  .description--text__section{
        width: 100%;
        font-size: $font-h6;
        text-align: center;
        font-family: $font-main;
        border-top: solid 3px $color-headers;
        border-bottom: solid 3px $color-headers;
    }


//MEDIA QUERIES

@media all and (min-width: 600px){
    .description--text{
        font-size: $font-h5;
    }

}

@media all and (min-width: 768px){
    .description--text{
        font-size: $font-h5*1.1;
    }

    .description--text__section{
        font-size: $font-h6*1.1;
    }

}



