/*TITLES*/

//MAIN TITLES

.h1{
    font-size: $font-h3;
    padding: .25em;
  }


.h2--slogan {
    background-color: $color-complementary;
    color: $color-link;
    text-align: center;
    font-size: $font-h4;
    font-family: $font-secundary;
    display: table;
    width: 100%;
    padding-left: 2em;
}

    .blog{
        background-color: $color-complementary;
        float: right;
        font-family: $font-main;
        background-color: $color-complementary;
        color: $color-secundary;
        font-size: $font-h6/1.75;
        display: table-cell;
        margin: .25em;
        padding: .15em;

        &::before{
          font-family: "icomoon";
          content: " \eab7";
        }
    }

.h3--slogan{
    background-color: $color-secundary;
    font-size: $font-h6;
    font-family: $font-secundary;
    text-align: center;
    padding-bottom: .25em;
}

//MEDIA QUERIES

@media all and (min-width: 768px){

    .h1{
      font-size: $font-h1;
    }

    .h2--slogan{
      font-size: $font-h2;
    }

    .h3--slogan{
      font-size: $font-h4;
    }

}

@media all and (min-width: 1024px){

    .h2--slogan{
      font-size: $font-h1;
    }

}



//SECUNDARY TITLES

.h3__title{
    font-family: $font-main;
    font-size: $font-h1;
    color: $black;
    text-align: center;
    background-color: $color-main;
    border-bottom: solid 2px $blue;
    border-top: solid 3px $color-link;
    border-bottom: solid 3px $color-link;
    padding: .35em 0;
}


.h4__title{
      font-family: $font-main;
      font-size: $font-h3;
      text-align: center;
      font-weight: bold;
      color: #000;
      background-color: $color-main;
      border: dotted 1px #000;
      margin: .25em 0;
      padding: .25em 0;

      &::after{
        content:"Ver";
        float: right;
        font-family: $font-main;
        font-size: .75em;
        background-color: $color-link;
        color: $color-secundary;
        padding: .28em;
        margin-right: .25em;
        @include vendors (border-radius, 50px);
      }
}

//MEDIA QUERIES



//TITLES MODIFIED

.h3__title__modified{
    font-family: $font-main;
    font-size: $font-h3*1.2;
    color: $black;
    text-align: center;
    background-color: $color-headers;
    border-bottom: solid 5px $color-headers;
    border-top: solid 5px $color-main;
    padding: .25em 0;
    margin-top: .1em;
    margin-bottom: .1em;
}

.h4__title__modified {
  font-family: $font-secundary;
  text-align: center;
  font-size: $font-h5;
  color: $color-link;
  padding-left: .25em;
  padding-bottom: .25em;
  padding-top: .25em;
  margin-bottom: .15em;
  margin-top: .15em;
  background-color: $color-complementary;
}


//MEDIA QUERIES

@media all and (min-width: 768px){

  .h3__title__modified{
      font-size: $font-h2;
  }

  .h4__title__modified{
      font-size: $font-h4;
  }

}

@media all and (min-width: 1024px){

 .h3__title__modified{
      font-size: $font-h1;
  }


}