/*TYPOGRAPHY*/

//H1

.h1 {
    font-family: $font-main;
    font-size: $font-h2;
    text-align: center;
}

.h2 {
    font-family: $font-secundary;
    font-size: $font-h2;
}


.h3 {
    font-family: $font-secundary;
    font-size: $font-h3;
}

.h4 {
    font-family: $font-default;
    font-size: $font-h4;
}

.h5 {
    font-family: $font-default;
    font-size: $font-h5;
}

